@font-face {
    font-family: 'Chillax-Regular';
    src: url('Chillax_Complete/Fonts/OTF/Chillax-Regular.otf') format('opentype');
}

body {
    background-image: url("img/bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 260vh;
}

* {
    font-family: 'Chillax-Regular';
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    height: 10em;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.general {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 1em;
    color: #fff;
    border-radius: 25px;
    width: 20em;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.imagen img {
    width: 200px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.add {
    color: #fff;
    font-size: 3em;
    position: absolute;
    left: 95%;
    cursor: pointer;
}

[data-id="5"] img {
    height: 200px;
    width: auto;
}

[data-id="8"] img {
    top: 50%;
}

[data-id="12"] img {
    height: 100px;
    width: auto;
    top: 50%;
}

form {
    display: none   ;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 2em;
    border-radius: 20px;
    flex-direction: column;
    gap: 10px;
    width: 20em;
    height: auto;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

form input {
    border: none;
    border-radius: 10px;
    padding: 15px;
}

form button {
    border: none;
    padding: 1em;
    border-radius: 15px;
    background-color: #ffdd00;
    cursor: pointer;
}

input[type="file"] {
    color: white;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background: #ffdd00;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    font-family: inherit;
}

#preview {
    display: none;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 1em;
}
.fa-circle-xmark{
    font-size: 1.5em;
    position: absolute;
    left: 85%;
    cursor: pointer;
}
@media (max-width: 1030px) {
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}